Redirect 301 /popphp-php-framework-3.6.0.tar.bz2 /assets/downloads/popphp-php-framework-3.6.0.tar.bz2
Redirect 301 /popphp-php-framework-3.6.0.tar.gz /assets/downloads/popphp-php-framework-3.6.0.tar.gz
Redirect 301 /popphp-php-framework-3.6.0.zip /assets/downloads/popphp-php-framework-3.6.0.zip
Redirect 301 /license.txt /license
Redirect 301 /LICENSE.TXT /license
Redirect 301 /version.txt /version
Redirect 301 /VERSION.TXT /version

<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} -s [OR]
    RewriteCond %{REQUEST_FILENAME} -l [OR]
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d

    RewriteRule ^.*$ - [NC,L]
    RewriteRule ^.*$ index.php [NC,L]
</IfModule>
