@import url(../../../node_modules/highlight.js/styles/atom-one-dark.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

.home {
    position: relative;
    margin: 18px 0 0 0;
    padding: 0;
    width: 225px;
    height: 60px;
    display: block;
    float: left;
    background-image: url(./img/pop-php-logo-white.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
}

.home > h1 {
    @apply hidden
}

.main-nav {
    position: relative;
    margin: 36px 0 0 0;
    overflow: hidden;
    float: right;
}

.main-nav > li {
    padding: 0 18px 0 18px;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: inline-block;
}

.main-nav > li > a {
    @apply text-sm text-white uppercase tracking-wide hover:text-orange-500
}

header.masthead {
    background: #e27f46;
}

.home-logo {
    margin: 0 auto 20px auto;
    padding: 0;
    background-image: url(./img/pop-php-logo-shadow.png);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    height: 400px;
    display: block;
    vertical-align: middle;
    border-style: none;
}

.font-alt {
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.star {
    max-width: 250px;
    margin: 25px auto 30px auto;
    padding: 0;
    text-align: center;
    border-top: solid 5px;
    border-color: #2c3e50;
}

.star-light {
    max-width: 250px;
    margin: 25px auto 30px auto;
    padding: 0;
    text-align: center;
    border-top: solid 5px;
    border-color: #ffff;
}

section.success {
    color: white;
    background-color: #ce5403;
}

.orange-back {
    background-color: #ce5403;
}

.github-icon {
    margin: 0 0 0.5rem 0.25rem;
    padding: 0.25rem 0.25rem 0.35rem 2.5rem;
    background-image: url(./img/github-mark-gray.png);
    background-size: 25px 24px;
    background-position: 7px 5px;
    background-repeat: no-repeat;
}

.github-icon:hover {
    background-image: url(./img/github-mark-white.png);
}

.github-icon-orange {
    position: relative;
    top: 5px;
    margin: 0;
    padding: 0;
    width: 28px;
    height: 28px;
    background-image: url(./img/github-mark-orange.png);
    background-size: 28px 27px;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.github-btn:hover > .github-icon-orange {
    background-image: url(./img/github-mark-white.png);
}

.dev-link-btn {
    @apply block w-full h-10 bg-orange-700 text-white pt-0 pb-2 pl-4 pr-4 text-center text-sm rounded hover:bg-white hover:text-orange-700 hover:border hover:border-orange-700
}

.github-icon-white {
    position: relative;
    top: 7px;
    margin: 0;
    padding: 0;
    width: 25px;
    height: 25px;
    background-image: url(./img/github-mark-white.png);
    background-size: 25px 24px;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.dev-link-btn:hover > .github-icon-white {
    background-image: url(./img/github-mark-orange.png);
}

.slack-icon-white {
    position: relative;
    top: 7px;
    margin: 0;
    padding: 0;
    width: 25px;
    height: 25px;
    background-image: url(./img/slack-logo.png);
    background-size: 25px 24px;
    background-position: 0 0;
    background-repeat: no-repeat;
}


.dev-link-btn:hover > .slack-icon-white {
    background-image: url(./img/slack-logo-orange.png);
}

.discord-icon-white {
    position: relative;
    top: 10px;
    margin: 0;
    padding: 0;
    width: 25px;
    height: 25px;
    background-image: url(./img/discord-mark-white.png);
    background-size: 25px 19px;
    background-position: 0 0;
    background-repeat: no-repeat;
}


.dev-link-btn:hover > .discord-icon-white {
    background-image: url(./img/discord-mark-orange.png);
}

.x-icon-white {
    position: relative;
    top: 9px;
    margin: 0;
    padding: 0;
    width: 25px;
    height: 25px;
    background-image: url(./img/x-logo-white.png);
    background-size: 20px 21px;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.dev-link-btn:hover > .x-icon-white {
    background-image: url(./img/x-logo-orange.png);
}

pre {
    @apply relative mt-1
}

pre > code {
    @apply relative p-2 rounded-lg text-sm
}

.inline-code {
    @apply text-sm font-normal bg-gray-200 pt-1 pb-1 pr-2 pl-2 rounded-md dark:bg-gray-700
}

.copy-link {
    @apply absolute top-2 right-2 pl-1 pt-1 w-8 h-8 rounded-md float-right text-gray-200 bg-gray-600 hover:text-gray-200 hover:bg-gray-900 active:bg-blue-500 dark:text-gray-200 dark:hover:text-gray-200
}

.social-nav > li {
    padding-left: 12px;
    padding-right: 12px;
    display: inline;
}

.btn-social {
    font-size: 20px;
    line-height: 45px;
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
}

.main-content {
    @apply pr-8
}

@media (max-width: 976px) {
    .nav-icon {
        margin-top: 30px;
        display: inline;
    }

    .main-nav {
        position: absolute;
        clear: both;
        margin: 0 auto;
        top: 96px;
        left: 0;
        right: 0;
        width: 100%;
        float: none;
        background-color: rgb(55 65 81 / var(--tw-bg-opacity));
    }

    .main-nav > li {
        padding: 8px 10% 20px 10%;
        display: block;
    }

    .main-nav > li > a {
        display: block;
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 768px) {
    .home-logo {
        margin: 0 auto 20px auto;
        padding: 0;
        background-image: url(./img/pop-php-logo.png);
        background-repeat: no-repeat;
        background-position: center;
        max-width: 100%;
        height: 320px;
        display: block;
        vertical-align: middle;
        border-style: none;
    }

    .main-content {
        @apply pr-0
    }

}

